/*css 초기화*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,html {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
.p-20 {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'meetMe';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/meetMe.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 300;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-family: 'Pretendard';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar a {
  width: auto;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

.navbar-button {
  cursor: pointer;
  border:2px solid #000;
  padding: 5px;
  border-radius: 25px;
  width: 90px;
  background-color: transparent;
  font-family: 'Pretendard';
  font-weight: 600;
  font-size: 16px;
}

.navbar-button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}

.mr5 {margin-right: 5px;}

/* mainAnimation start */

.main-wrap {
  width: 100%;
  height: 100%;
  background-color: #f9f1dd;
}

.main-animation {
  position: relative;
  height: 100%;
  min-height: 900px;
  max-height: 1200px;
}

.talk-wrap {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 600px;
  height: 100%;
  overflow: hidden;
  background-color: #f9f1dd;
  transition: width 1s ease-in-out;
}

.talk-wrap-bg {
  width: 100%;
  height: 100%;
  background: #fff;
  min-height: 900px;
  max-height: 1200px;
}

.owl-img {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.eye {
  position: absolute;
  transition: transform 0.05s;
}

.left-eye {
  top: 27%; 
  left: 51%; 
  
}

.right-eye {
  top: 27%; 
  left: 31%; 
}

.hand-img {
  width: 110px;
  height: 100px;
  position: absolute;
  bottom: 100px;
  left: -30px;
}

.letter-img {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: 50px;
  left: -350px;
  right: 0px;
  margin: auto;
}

.talk-img1 {
  width: 400px;
  height: 260px;
  font-family: 'meetMe';
  position: absolute;
  top: 20px;
  left: -170px;
  right: 0px;
  margin: auto;
}

.talk-img2 {
  width: 400px;
  height: 260px;
  font-family: 'meetMe';
  position: absolute;
  top: 230px;
  left: 170px;
  right: 0px;
  margin: auto;
}

.talk-img3 {
  width: 350px;
  height: 260px;
  font-family: 'meetMe';
  position: absolute;
  top: 320px;
  left: 400px;
  right: 0px;
  margin: auto;
  z-index: 5;
}

.talk-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;  
  margin: auto;
  text-align: center;
  line-height: 200px;
  font-size: 26px;
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}
.fade-out {
  animation: disappear 8s forwards;
}

/* butterfly animation */
/* 투명이미지를 넣어도 외각선이 생기는 오류가 해결되면 커서 포인트 이미지 변경 */ 
/* .talk-wrap {  
  cursor: url('/image/pointer2.png'), auto;
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}

.butterfly-container {
  position: relative;
  left: -400px;
  top: 50%;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  margin: auto;
}

.center-button {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-45%, -38%);
  z-index: 1;
  font-size: 40px;
  background-color: transparent;
  font-family: 'meetMe';
  letter-spacing: 2px;
}

.center-button:hover {
  cursor: pointer;
}

.butterfly {
  position: absolute;
  animation: rotate 10s infinite linear; /* 10초 동안 무한 반복입니다. */
  transform: rotate(35deg);
}

.letter-circle{
  width: 5.7%;
  position: absolute;
  top: -5%;
  left: 57%;
  animation: letter-circle 10s linear infinite;
  transform-origin: 0px 700px;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes letter-circle {
  from {
    transform:rotate(-60deg); 
  }
  to { 
    transform:rotate(40deg); 
  }
}

/* horizontal scroll text animation */

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}

.horizontal-scrolling-container {
  position: relative;
  width: 100%;
}

.horizontal-scrolling-items {
  letter-spacing: 5px;
  position: absolute;
  top: 120px;
  font-size: 80px;
  font-weight: 900;
  font-family: 'Pretendard';
  display: flex;
  width: 2450px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
}

/* letter-form */
.send-letter-page {
  width: 100%;
  height: 100%;
}

.mailbox_list {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.mailChkBg {
  background-color: #dbf1dc;
}

.readChk_icon {
  width: 40px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
}

.mailBox_titleBox {
  width: 100%;
}

.mailBox_title {
  font-weight: 700;
  font-size: 16px;
}

.mailBox_date {
  font-size: 13px;
  margin-top: 6px;
}

.letter-form, .signup-form, .mailbox-form, .sendLetter-form {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 수정: 수직 정렬을 flex-start로 변경 */
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
  font-family: 'Pretendard';
}

.letter-form textarea, .letter-form button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
} 

.letter-form button {
  background-color: #006837;
  width: 400px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 20px;
}

.letterhead {
  width: 700px;
  height: 350px;
  /* background-image: url('image/mailMainBg.png'); */
}

.letterhead p {
  width: 660px;
  height: 310px;
  margin: auto;
}

.sendLetter_textarea {
  border-radius: 10px;
  width: 700px;
  -webkit-box-sizing: border-box;
  padding: 10px;
  height: 200px;
}

/* signup-form */

.input_list.signup {
  width: 600px;
  border-top: none;
}

.signup-form h1 {
  font-size: 26px;
  font-weight: 800;
  float: left;
  width: 600px;
  padding-bottom:24px;
}

.input_list.signup input::placeholder{
  font-size: 16px;
}

.input_list.signup input{
  border: none; 
}

.input_list.signup input::placeholder{
  color: #c0c0c0;
}

.input_list.signup input:focus{
  border: none;
  outline: none; 
  box-shadow: none;
}

.input_list.signup > li {
  display: flex;
  margin-top: 30px;
  border: none;
  align-items: center;
}

.input_list.signup div {
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  margin-right: 10px;
}

.duplicateName, .passwordMismatch, .duplicateEmail{
  position: relative;
  border-bottom: 1px solid rgb(216, 1, 1) !important;
}

.duplicateName p, .passwordMismatch p, .duplicateEmail p{
  position: absolute;
  top: 42px;
  left: 10px;
  font-size: 16px;
  color: rgb(216, 1, 1);
}

.checkNameDuplicate_btn {
  border-radius: 5px;
  width: 120px;
  height: 36px;
  color: #c0c0c0;
  cursor: pointer;
}

.signup_btn {
  background-color: #006837;
  width: 400px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 80px auto 0px;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
}

.sendLetterBtn {
  background-color: #006837;
  width: 400px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto 0px;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
}

.signup_btn_box, .sendLetterBtn_box {
  display: flex;
}
/* 공통 ul, li css */

.input_list {
  width: 800px;
  border-top: 3px solid #000;
}

.input_list > li {
  border-bottom: 1px solid #c0c0c0;
}

.input_list li .inner {
  display: flex;
}

.input_list li .inner .label_wrap {
  display: flex;
  width: 120px;
  padding: 20px 18px 20px 20px;
  box-sizing: border-box;
}

.label_wrap label {
  margin: auto 0;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.input_list li .inner .label_wrap .label {
  margin: auto 0;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: rgba(17, 19, 24, 0.8);
  box-sizing: border-box;
}

.input_list li .inner .input_wrap_style {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.input_style {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #dcdcdd;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  color: rgba(17, 19, 24, 0.6);
}

.send_letter_textarea {
  height: 400px !important;
}

.list-item {
  opacity: 1;
  transition: all 1s;
}

/* error */
.e404-title {
  position: absolute;
  top: 144px;
  left: -300px;
  right: 0;
  margin: auto;
  font-size: 500px;
  font-weight: 900;
  font-family: 'Pretendard';
  color: #fff;
  opacity: 0.7;
}

.eLogin-title {
  position: absolute;
  top: -26px;
  left: -300px;
  right: 0;
  margin: auto;
  font-size: 300px;
  font-weight: 900;
  font-family: 'Pretendard';
  color: #fff;
  opacity: 0.9;
}

.error-page-bg{
  width: 100%;
  height: 100%;
  background-color: #f9f1dd;
}

.error-page {
  width: 450px;
  height: 530px;
  position: relative;
  top: 130px;
  right: 0;
  left: 0;
  margin: auto;
}

.error-talk-img {
  width: 350px;
  height: 260px;
  font-family: 'meetMe';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.error-owl-img {
  width: 300px;
  height: 270px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}

.e404-owl-img {
  width: 300px;
  height: 270px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}
